#App {
    min-height: 100vh;
    background-color: #f0f0f0;
}

#App .inner-container{

}

/*Sidebar*/
#sidebar{
    background-color: #111111;
    color: white;
    padding: 0;
    overflow: hidden;
    min-height: 100vh;
    transition: all 0.3s ease;
}

#sidebar #logo-section{
    height: 150px;
    padding: 10px;
    overflow-x: scroll !important;
}

#sidebar #logo-section img{
    width: 80px;
    height: auto;
    color: white;
    font-family: 'Marck Script', cursive;

}

#sidebar #logo-section .cher{
    font-family: 'Marck Script', cursive;
    font-size: 26px;
    position: relative;
    left: -35px;
}

#sidebar nav ul{
    padding-left: 0;
    list-style: none;
}

#sidebar nav a{
    color: white;
    text-decoration: none;
}

#sidebar nav li{
    cursor: pointer;
    padding: 10px;
    line-height: 40px;
    transition: all 0.3s ease;
}

#sidebar nav li.active-section{
    border-left: 3px solid var(--main-pink-color);
}

#sidebar nav li:hover{
    background-color: grey;
    transition: all 0.3s ease;
}


/*Content*/
#content{
    flex: 1 1 100px;
    /*min-height: 100vmin;*/
    /*min-height: 100%;*/
    /*background-color: pink;*/
    padding: 0;
}

#content .content-header{
    height: 60px;
    background-color: #f0f0f0;
    display: flex;
}

#content .sidebar-control{
    min-width: 80px;
    max-width: 60px;
    border: 1px solid lightgrey;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

#content .greeting{
    flex: 1;
    text-align: right;
    margin-right: 40px;
    line-height: 60px;
}

#content .greeting p{
    margin-bottom: 0;
    position: relative;
    bottom: -5px
}

#content .logout{
    min-width: 80px;
    max-width: 60px;
    border: 1px solid lightgrey;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}